 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*body{
  display: flex;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #9B59B6;
}*/

/* Need to fix flash css so that nothing is displayed when there is no flash message */
/*.flash{
  border: 1px solid #efcead;
  background-color:	#efcead;
  color: black;
  padding: 8px;
  margin: 10px 50px;
  border-radius: 10px; 
  animation: fade-in 2s ease;
}*/

/* Background of calendar */

.wrapper{
  width: 60rem;
  background: #fff;
  border-radius: 10px;
  border-style: solid;
  margin: auto;
  align-items: center;

}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border-style: solid; 
  border-color: black;
  cursor: pointer;
  position: fixed;
  top: 53px;
  right: 28px;
  width: 150px;
  border-radius: 10px;
}

.open-button:hover {
  background-color: #357ded;
  color: white; 
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 10px;
  right: 15px;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  display: inline-block;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.bar {
  width: 10%;
  background: #04AA6D;
  border-radius: 10px;
  transition: 0.5s;
}

/*flex container for login page */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top:10%;
  vertical-align: text-top;
}

.flex-item {
  border: 1px solid #357ded;
  padding: 20px;
  border-radius: 20px;

}

.login_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  vertical-align: text-top;

}

.task-flex-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  vertical-align: text-top;
  align-items: center;

}

/* Progress bar */

.container {

  margin:auto;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100%;
  width: 50%;
}

.progress-container::before {
  content: ""; /* Mandatory with ::before */
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #357ded;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #999;
  transition: 0.4s ease;
}

.active {
  border-color: #357ded;
}