 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Colour palette for light theme */
:root {
  --background-color: #f4f4f6;
  --color: #333;
  --navbar-color: #357ded;
  --navbar-text: #ffffff;
  --border: #22303c;
  --calendar-li: #333;
  --calendar-background: #ffffff;
  --highlight: #aaa;
  --input-field-color: #ffffff;
  --select-text: #333;
}

/* Colour palette for dark theme */
[theme = "theme-dark"] {
  --background-color:#22303c;
  --color: #ffffff;
  --navbar-color: #1a252f;
  --navbar-text: #77bdfb;
  --border: #f4f4f6;
  --calendar-li: #f4f4f6;
  --calendar-background: #22303c;
  --highlight: #808080;
  --select-text: ##357ded;
  /* --input-field-color: #424242; */
}

body {
  background-color: var(--background-color);
  color: var(--color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.h4 {
  color: var(--color)
}

.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
}

.select__input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--select-text);
  font-weight: 500;
  font-family: var(--font-family);
}

.h2 {
  margin: 10px;
  text-align: center;
  color: var(--color);
}

/* Background of calendar */

.wrapper{
  width: 80%;
  background: var(--calendar-background);
  border: solid;
  border-radius: 10px;
  --border-color:var(--border);
  margin: auto;
  align-items: center;

}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: var(--highlight);
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: var(--calendar-li);
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #77bdfb;
}

.days li:not(.active):hover::before{
  background: var(--highlight);
}

/* Button used to open the add event form - fixed at the top of the page */
.open-button {
  background: var(--background-color);
  color: var(--color);
  padding: 16px 20px;
  border-style: solid; 
  border-color: var(--border);
  cursor: pointer;
  position: fixed;
  top: 53px;
  right: 28px;
  width: 150px;
  border-radius: 10px;
}

.open-button:hover {
  background-color: #357ded;
  color: white; 
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 10px;
  right: 15px;
  border: 1px solid;
  border-color: var(--border);
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background: var(--background-color);
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: var(--color);
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  display: inline-block;
}

/* Add a red background color to the cancel and delete button */
.form-container .cancel {
  background-color: red;
  color: #f4f4f6
}

.btn .delete {
  background-color: red;
  color: #f4f4f6;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* what is this part of??? */
.bar {
  width: 10%;
  background: #04AA6D;
  border-radius: 10px;
  transition: 0.5s;
}

/*flex container for login and days page */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top:10px;
  vertical-align: text-top;
}

.flex-item {
  border: 1px solid #357ded;
  padding: 10px;

}

.login_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile_input {
  width: 40%;
  padding: 5px 5px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--input-field-color);
}

/* Flex for dashboard */
.dashboard-flex {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 5px;
  color: #333;
  border-radius: 4px;
}

.dashboard-flex-item {
  width:100%;
}

/* css for input fields */
/*input[type=text], input[type=password], input[type=date], input[type=integer], input[type=number] input[type=select] input[type=email] {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--input-field-color);
}*/

/* CSS for flex containers in add/edit forms */
.form-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  vertical-align: text-top;

}

/* CSS for flex container in today page */
.task-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: text-top;
  align-items: center;

}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: text-top;

}

/* Progress bar */

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100%;
  width: 50%;
}

.progress-container::before {
  content: ""; /* Mandatory with ::before */
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #357ded;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: var(--background-color);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #999;
  transition: 0.4s ease;
}

.active {
  border-color: #357ded;
}

.event-item {
  width: 30%;
}

@media all and (max-width: 720px) {
  .navbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  } 

  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .event-item {
    width: 100%;
    margin: 10px;
  }

  .dashboard-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  .navbar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .open-button {
    top: 400px;
    bottom: 10px;
  }
}


/* Tables */

.w3-table {
  margin: 10px;
}

.container {
  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

tr {
  align-items: center;

  justify-content: center;
  padding: 10px;
}

/* Style for the flashes class (ul) */
ul.flashes {
  list-style: none;
  padding: 10px;
  margin: 0;
}

/* Style for the list items (li) within the flashes class */
ul.flashes li {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
}

/* Additional styles for better visibility */
ul.flashes li.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

ul.flashes li.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.streak {
  padding: 10px;
  margin:10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
}

/* Keyframes for the fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Footer */

footer {
  margin-top: auto;
  padding-top: 20px;
  background-color: var(--background-color);
  color: var(--color);
  border-top: 1px solid;
  border-top-color: var(--border);

}

/* w3-table CSS */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  padding: .35em;
  color: var(--color);
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.margin {
  margin: 10px;
}

