{% extends "layout.html" %}
{% block content %}

<body>
	<div class = "wrapper">
		<header> 
			<!-- Display current month and year -->
			<p class = "current-date"></p>
			<!-- Arrows to navigate between months -->
			<div class = "icons">
				<span id="prev" class="material-symbols-rounded">chevron_left</span>
          		<span id="next" class="material-symbols-rounded">chevron_right</span>
			</div>
		</header>
		<div class = calendar>
			<!-- List of days -->
			<ul class = "weeks">
				<li>Sun</li>
				<li>Mon</li>
				<li>Tue</li>
				<li>Wed</li>
				<li>Thu</li>
				<li>Fri</li>
				<li>Sat</li>
			</ul>
			<ul class = "days"></ul>
		</div>
	</div>

	<button class="open-button" onclick="openForm()">Add Event</button>

	<div class = "form-popup" id = "myForm">
	<form method="POST" action="/calendar" class = "form-container">
		{{ form.csrf_token }}
		{{ form.name.label }} {{ form.name(size=20) }}
		{{ form.description.label }} {{ form.description(size=50) }}
		{{ form.date.label }} {{ form.date }}
		{{ form.colour.label }} {{ form.colour(size=20) }}
		<input type="submit" value="Save">
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
	</div>

	<table class="w3-table w3-striped">
		<tr>
			<th>
				Event
			</th>
			<th>
				Description
			</th>
			<th>
				Date
			</th>
			<th>
				Colour
			</th>
		</tr>
		<tr>
			{% for event in events %}
			<td>
				{{ event.name }}
			</td>
			<td>
				{{ event.description }}
			</td>
			<td>
				{{ event.date }}
			</td>
			<td>
				{{ event.colour }}
			</td>
			<td>
				<button class="open-button" onclick="openForm()">Edit</button>
			</td>
		</tr>
		{% endfor %}
	</table>
	
</body>
</html>

{% endblock %}
