{% extends "layout.html" %}
{% block content %}

<h2 class = "h2"> Dashboard </h2>

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class = "{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class = "margin">
<div class = "streak">
    {% if streak == 1 %}
        <p> You've been productive for {{ streak }} day!</p>
    {% else %}
        <p> You've been productive for {{ streak }} days!</p>
    {% endif %}
</div>

<br>

<div class = "dashboard-flex">
    <div class = "dashboard-flex-item">
        <h2 class = "h2"> Upcoming Events </h2>
        {% if upcoming|length < 1 %}
            <h4> No upcoming events - add events on the calendar page</h4>
        {% else %}
        <div class = "flex-container">
            {% for event in upcoming %}
            <table class = "w3-table w3-card event-item">
                <tr style = "border-bottom: 1px solid;">
                    <th>
                        {{ event.name }}
                    </th>
                </tr>
                <tr>
                    <th>
                        Description:
                    </th>
                    <td>
                        {{ event.description }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date:
                    </th>
                    <td>
                        {{ event.date }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Colour:
                    </th>
                    <td>
                        {% if event.colour == "#000000" %}
                            <p>Black</p>
                        {% elif event.colour == "#ffffff" %}
                            <p> Red</p>	
                        {% elif event.colour == "#d62237" or event.colour == "#fa7970" %}
                            <p> Red</p>
                        {% elif event.colour == "#77bdfb" or event.colour == "#1c448e" %}
                            <p> Blue</p>	
                        {% elif event.colour == "#03dac5" or event.colour == "#006400" %}
                            <p> Green</p>
                        {% elif event.colour == "#7852a9" or event.colour == "#bb86fc" %}
                            <p> Purple</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class = "dashboard-flex-item">
        <h2 class = "h2"> Today's Tasks</h2>
        {% if school_tasks|length < 1 and personal_tasks|length < 1 %}
            <h4> No tasks for today - add some tasks to do on the tasks page!</h4>
        {% else %}
        <div class = "flex-container">
            <h4 class = "w3-container h4"> School </h4>
            {% for task in school_tasks %}
            <table class = "w3-table w3-card event-item">
                <tr style = "border-bottom: 1px solid;">
                    <th>
                        {{ task.name }}
                    </th>
                </tr>
                <tr>
                    <th>
                        Description:
                    </th>
                    <td>
                        {{ task.description }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Hours:
                    </th>
                    <td>
                        {{ task.hours }}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>

        <br>
        
        <div class = "flex-container">
            <h4 class = "w3-container h4"> Personal </h4>
            {% for task in personal_tasks %}
                <table class = "w3-table w3-card event-item">
                    <tr style = "border-bottom: 1px solid;">
                        <th>
                            {{ task.name }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Description:
                        </th>
                        <td>
                            {{ task.description }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Hours:
                        </th>
                        <td>
                            {{ task.hours }}   
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}