{% extends "layout.html" %}
{% block content%}

<!-- Fix margins -->  
<!-- Make bulletproof -->
<h2 class = "h2"> Events on {{ formattedDate }}</h2>

<button class="open-button" onclick="openForm()">Add Event</button>

	<div class = "form-popup" id = "myForm">
	<form method="POST" action="/calendar" class = "form-container">
		{{ form.csrf_token }}
		<div class = "w3-padding-small"><h4> Add Event </h4> </div>
		<div class = "w3-padding-small">{{ form.name.label }} {{ form.name(placeholder = "Event name") }} </div>
		<div class = "w3-padding-small">{{ form.description.label }} {{ form.description(placeholder = "Add a description") }}</div>
		<div class = "w3-padding-small">{{ form.date.label }} {{ form.date }}</div>
		<div class = "w3-padding-small">{{ form.colour.label }} {{ form.colour }}</div>
		<input type = "hidden" name = "action" value = "add">
		<div class = "form-flex-container">
			<div><button type="button" class="btn cancel" onclick="closeForm()">Close</button></div>
			<div class = "w3-padding-small"><input type="submit" class = "btn" value="Save"></div>
		</div>
	</form>
	</div>

<div class = "flex-container">
{% for event in events %}
<table class = "w3-table w3-card" style = "width: 30%">
    <tr>
        <th>
            {{ event.name }}
        </th>
    </tr>
    <tr>
        <th>
            Description:
        </th>
        <td>
            {{ event.description }}
        </td>
    </tr>
    <tr>
        <th>
            Date:
        </th>
        <td>
            {{ event.date }}
        </td>
    </tr>
    <tr>
        <th>
            Colour:
        </th>
        <td>
            {{ event.colour }}
        </td>
    </tr>
    <tr>
        <th>
            Edit?
        </th>
        <td>
            <button class="open w3-btn w3-border" onclick="openEditForm('{{event.id}}')">Edit</button>
            <div class = "form-popup" id = "myEditForm{{ event.id }}">
                <form method="POST" action="/calendar" class = "form-container">
                    <!-- Set the values for the forms as the information for the event whse edit form is opened -->
                    {{ form.csrf_token }}
                    <div class = "w3-padding-small"><h4> Edit Event </h4> </div>
                    <div class = "w3-padding-small">{{ form.name.label }} {{ form.name(value = event.name) }} </div>
                    <div class = "w3-padding-small">{{ form.description.label }} {{ form.description(value = event.description) }}</div>
                    <div class = "w3-padding-small">{{ form.date.label }} {{ form.date(value = event.date) }}</div>
                    <div class = "w3-padding-small">{{ form.colour.label }} {{ form.colour(value = event.colour) }}</div>
                
                    <input type = "hidden" name = "action" value = "edit">
                    <input type = "hidden" name = id value = "{{ event.id }}"> 
                    <div class = "form-flex-container">
                        <div><button type="button" class="btn cancel" onclick="closeEditForm('{{event.id}}')">Close</button></div>
                        <div><form method = "POST" action = "/calendar">
                                <div><input type = "hidden" name = "action" value = "delete"></div>
                                <div><input type = "hidden" name = id value = "{{ event.id }}"></div>
                                <button class = "btn delete" onclick = "return confirm('Are you sure you want to delete this event?');">Delete</button>
                        </form></div>
                        <div class><input type="submit" class = "btn" value="Save"></div>
                    </div>

                </form>
            </div>
        </td>
    </tr>
    <tr>
        <th>
            Delete?
        </th>
        <td> 
            <form method = "POST" action = "/calendar">
                <input type = "hidden" name = "action" value = "delete">
                <input type = "hidden" name = id value = "{{ event.id }}">
                <button class = "delete w3-btn w3-border" onclick = "return confirm('Are you sure you want to delete this event?');">Delete</button>
            </form>
        </td>
    </tr>
</table>
{% endfor %}
</div>

{% endblock %}