{% extends "layout.html" %}
{% block content %}

<body>
{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class = "{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class = "flex-container">
        <div class = "flex-item w3-card" style = "border:'{{ colour }}'">
            <h3 style = "text-align:center"> Login </h3>
            <div style = "margin:10px"><form method = "POST" action = "/" class = "w3-container"></div>
                {{ login_form.csrf_token }}
                <div style = "margin:10px"> Username </div>
                <div style = "margin:10px"> {{ login_form.username(class_ = "login_input") }}</div>
                <div style = "margin:10px"> Password </div>
                <div style = "margin:10px"> {{ login_form.password(class_ = "login_input") }}</div>
                <div style = "margin:10px"><input type="submit" value="Sign in" class = "w3-btn w3-border"></div>
                <input type="hidden" value = "login" name = "login">
            </form>
        </div>

        <br>

        <div class = "flex-item w3-card">
            <h3 style = "text-align:center"> Create Account </h3>
            <div style = "margin:10px"><form method = "POST" action = "/" class = "w3-container"></div>
                {{ acc_form.csrf_token }}
                <div style = "margin:10px"> Username </div>
                <div style = "margin:10px"> {{ acc_form.username(class_ = "login_input") }}</div>
                <div style = "margin:10px"> Password </div>
                <div style = "margin:10px"> {{ acc_form.password(class_ = "login_input") }}</div>
                <div style = "margin:10px"> Email </div>
                <div style = "margin:10px"> {{ acc_form.email(class_ = "login_input") }}</div>
                <div style = "margin:10px"><input type="submit" value="Sign up" class = "w3-btn w3-border"></div>
                <input type="hidden" value = "acc" name = "login">
            </form>
        </div>
    </div>
</body>

{% endblock %}

