<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Google Font Link for Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script src="/static/js/script.js" defer></script>	
    <title>Document</title>
</head>

<header>
    <div>
        <nav class="navbar w3-bar">
            {% if current_user.is_authenticated %}
            <!-- <div class="navbar_links"> -->
                <a href="/calendar" class = "w3-bar-item w3-btn w3-mobile">Calendar</a>
                <!-- <div class="dropdown"> -->
                <div class="w3-dropdown-hover">
                    <!-- Fix the dropdown arrow -->
                    <a class="dropbtn w3-btn">Tasks <i class="material-symbols-outlined" style="font-size:16px"> expand_more </i></a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/school" class = "w3-bar-item w3-button">School</a>
                        <a href="/personal" class = "w3-bar-item w3-button">Personal</a>
                        <a href="/today" class = "w3-bar-item w3-button">Today</a>
                    </div>
                </div>
                <a href="/profile" class = "w3-bar-item w3-btn w3-mobile">Profile</a>
                <a href="/logout" class = "w3-bar-item w3-btn w3-mobile">Logout</a>
                {% endif %}
            <!-- </div> -->
    </div>
</header>
<body>
    <br>
    <div class = "main">
        {% block content %}{% endblock %}
    </div>
    <br>
    <footer class = "w3-container"> © Annabelle Brownsword 2023</footer>
</body>
</html>