{% extends "layout.html" %}
{% block content %}

<h2 class = "h2"> Profile </h2>

{% with messages = get_flashed_messages() %} 
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<p> Username: {{ username_original }} </p>
<p> Email: {{ email_original }} </p>

<h4> Settings </h4>

<form method = "POST" action = "/profile" class = "form">
    <h4> Change Password </h4>
    <input type = hidden name = "action" value = "password">
    <input type = password name = "password" placeholder = "New Password"> </input>
    <input type = password name = "password2" placeholder = "Confirm New Password"> </input>
    <input type = submit value = "Save">
</form>

<form method = "POST" action = "/profile">
    <h4> Change Username </h4>
    <input type = hidden name = "action" value = "username">
    <input type = text name = "username" placeholder = "New Username"> </input>
    <input type = submit value = "Save">
</form>

<form method = "POST" action = "/profile">
    <h4> Change Email </h4>
    <input type = hidden name = "action" value = "email">
    <input type = email name = "email" placeholder = "New Email"> </input>
    <input type = submit value = "Save">
</form>


<form method = "POST" action = "/profile">
    <h4> Theme colour </h4>
    <input type = hidden name = "action" value = "colour">
    <input type = color name = "colour"> Choose colour: </input>
    <input type = submit value = "Save">
 </form>

 <div class="select">
    <select class="select__input" id="selTheme">
        <option value="auto">Auto</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </select>
</div>
{% endblock %}

<script>
    function applyTheme(theme) {
    document.body.classList.remove("theme-auto", "theme-light", "theme-dark");
    document.body.classList.add(`theme-${theme}`);
    console.log(theme)
    }

    document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme") || "auto";

    applyTheme(savedTheme);

    for (const optionElement of document.querySelectorAll("#selTheme option")) {
        optionElement.selected = savedTheme === optionElement.value;
    }

    document.querySelector("#selTheme").addEventListener("change", function () {
        localStorage.setItem("theme", this.value);
        applyTheme(this.value);
    });
    });

</script>