{% extends "layout.html" %}
{% block content %}

<h2 class = "h2"> Profile </h2>

{% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class = "{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class = "margin">
<div class = "streak">
    <p> Username: {{ username_original }} </p>
    <p> Email: {{ email_original }} </p>
</div>

<h4> Settings </h4>

<form method = "POST" action = "/profile" class = "form">
    <h6> Change Password </h6>
    <input type = hidden name = "action" value = "password">
    <input type = password  class = "profile_input" name = "password" placeholder = "New Password"> </input>
    <input type = password class = "profile_input" name = "password2" placeholder = "Confirm New Password"> </input>
    <br>
    <div>
        <input type = submit value = "Save" class = "w3-btn w3-border">
    </div>
</form>

<form method = "POST" action = "/profile">
    <h6> Change Username </h6>
    <input type = hidden name = "action" value = "username">
    <input type = text class = "profile_input" name = "username" placeholder = "New Username"> </input>
    <br>
    <div>
        <input type = submit value = "Save" class = "w3-btn w3-border">
    </div>
</form>

<form method = "POST" action = "/profile">
    <h6> Change Email </h6>
    <input type = hidden name = "action" value = "email">
    <input type = email class = "profile_input" name = "email" placeholder = "New Email"> </input>
    <br>
    <div>
        <input type = submit value = "Save" class = "w3-btn w3-border">
    </div>
</form>
</div>

{% endblock %}

