{% extends "layout.html" %}
{% block content %}
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if streak == 1 %}
        <p> You've been productive for {{ streak }} day!</p>
    {% else %}
        <p> You've been productive for {{ streak }} days!</p>
    {% endif %}

    <h2>Today</h2>

    <h4> Select hours for school and personal tasks </h4>
    <form method = "POST" action = "/today">
        {{ form.csrf_token }}
        {{ form.school.label }} {{ form.school }}
        {{ form.personal.label }} {{ form.personal }}
        <input type = "hidden" name = "action" value = "select">
        <input type="submit" value="Submit">
    </form>

    <h2> Today's Tasks</h2>

    {% if total > 0 %}
        <h4>Progress</h4>
        <div class = "progress-container">
            <div class = "progress" id = "progress"></div>
            {% for t in range(0, total+1) %}
                <div class="circle{% if t <= completed_tasks %} active{% endif %}"> {{ t }} </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No tasks today! </p>
    {% endif %}


    <div class = "flex-container">
        <div class = "w3-card" style = "width:40%">
            <h4 class = "w3-container"> School </h4>
            <table class = "w3-table w3-striped">
                <tr>
                    <th>Done?</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Event</th>
                    <th>Hours</th>
                </tr>
                {% for task in school_tasks %}

                <tr>
                    <form method = "POST" action = "/today">
                    <!-- BUGGG - if only personal task in list, can't move to completed -->
                    <td><input type = "checkbox" class = "checkbox" name = "task" value = "{{ task.id }}"></td>
                    <label for="{{ task.id }}"><td>{{ task.name }}</td></label>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date }}</td>
                    <td>{{ task.type }}</td>
                    <td>{{ task.event }}</td>
                    <td>{{ task.hours }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <br>

        <div class = "w3-card" style = "width:40%">
            <h4 class = "w3-container"> Personal </h4>
            <table class = "w3-table w3-striped">
                <tr>
                    <th>Done?</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Event</th>
                    <th>Hours</th>
                </tr>
                {% for task in personal_tasks %}
                <tr>
                    <td><input type = "checkbox" class = "checkbox" name = "task" value = "{{ task.id }}"></td>
                    <label for="{{ task.id }}"><td>{{ task.name }}</td></label>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date }}</td>
                    <td>{{ task.type }}</td>
                    <td>{{ task.event }}</td>
                    <td>{{ task.hours }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <br>

    <input type = "hidden" name = "action" value = "done">
    <input type = "submit" value = "Submit">
    </form> 
    <br>
    <div class = "w3-card" style = "width:40%">
        <h4 class = "w3-container"> Completed </h4>
        <table class = "w3-table w3-striped">
            <tr>
                <th>Done?</th>
                <th>Task</th>
                <th>Description</th>
                <th>Date</th>
                <th>Type</th>
                <th>Event</th>
                <th>Hours</th>
            </tr>
            {% for task in completed %}
            <tr>
                <td><form method = "POST" action = "/today"><input type = "checkbox" class = "checkbox" name = "task_done" value = "{{ task.id }}" checked></td>
                <label for="{{ task.id }}"><td>{{ task.name }}</td></label>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.type }}</td>
                <td>{{ task.event }}</td>
                <td>{{ task.hours }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br>

    <input type = "hidden" name = "action" value = "undone">
    <input type = "submit" value = "Submit"> </form>

</body>
</html>
{% endblock %}


