{% extends "layout.html" %}
{% block content %}
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h4> Select hours for school and personal tasks </h4>
    <form method = "POST" action = "/today">
        {{ form.csrf_token }}
        {{ form.school.label }} {{ form.school }}
        {{ form.personal.label }} {{ form.personal }}
        <input type="submit" value="Submit">
    </form>

    <h2> Today's Tasks</h2>
    <div class = "w3-card w3-container">
        <h4> School </h4>
        <table class = "w3-table w3-striped">
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Date</th>
                <th>Type</th>
                <th>Event</th>
                <th>Hours</th>
            </tr>
            {% for task in school_tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.type }}</td>
                <td>{{ task.event }}</td>
                <td>{{ task.hours }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br>

    <div class = "w3-card w3-container">
        <h4> Personal </h4>
        <table class = "w3-table w3-striped">
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Date</th>
                <th>Type</th>
                <th>Event</th>
                <th>Hours</th>
            </tr>
            {% for task in personal_tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.type }}</td>
                <td>{{ task.event }}</td>
                <td>{{ task.hours }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
{% endblock %}